<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PokemonGo.SimpleBot.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PokemonGo.SimpleBot.UserSettings>
            <setting name="Latitude" serializeAs="String">
                <value>37.808631</value>
            </setting>
            <setting name="Longitude" serializeAs="String">
                <value>-122.409553</value>
            </setting>
            <setting name="Altitude" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AllowCatching" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowEvolution" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowRecycle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumberOfSamePokemonsToKeep" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AllowTransfer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WalkingSpeedKmh" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="AllowFarming" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxPOkemonsPerPokestop" serializeAs="String">
                <value>100</value>
            </setting>
        </PokemonGo.SimpleBot.UserSettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="C5" publicKeyToken="282361b99ded7e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.5947.17248" newVersion="2.4.5947.17248" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>